/* Global */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Fredoka", serif;

}
:root{
    --our-team-danger:#e53170;
    --our-team-link:#40adea;
    --our-team-bgcard:#000000;
}
/* Utilities */
h1{
    font-weight: bolder;
    color: var(--our-team-danger);
}
.member-card{
    background-color: var(--our-team-bgcard);
    padding: 0;
    margin: 1rem;
    h5{
    font-weight: bolder;
    font-size: 1rem;
   }
}
/* ID */
#description{
    color: white;
    margin-right:  6rem;
    margin-left: 1rem;
    padding-top: 1rem;
    p{
        font-weight: 400;
    }
    a{
        color: var(--our-team-link);
        text-decoration: none;
    }
}